<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <style>
        #topic {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li a {
            display: block;
            padding: 8px;
            background-color: #dddddd;
        }
        
        .topic-item {
            float: left;
        }
        
        .topic-color:hover {
            background-color: #6692dd9f;
        }
    </style>
</head>
<ul id="topic">
    <li class="topic-item">
        <a href="/" class="topic-color">About Me |</a>
    </li>
    <li class="topic-item">
        <a href="/Skill" class="topic-color">Skill | </a>
    </li>
    <li class="topic-item">
        <a href="/ContactMe" class="topic-color">Contact Me |</a>
    </li>
    <li class="topic-item">
        <a href="/Portfolio" class="topic-color">Portfolio |</a>
    </li>
</ul>
<h1 style="text-align: center; margin-top: 50px">About me</h1>
<div style="text-align: center">
    <img src="
    https://media.komchadluek.net/uploads/images/md/2021/09/UWTmNq2oOoaOOArz5qfp.jpg
    " width="200" height="200" />
</div>

<p style="text-indent: 100px">
    ชื่อ จณิสตา ชื่อเล่น เมล จบป.ตรีวิศวอิเล็กทรอนิกส์การบิน เคยทำงานที่ กลต กับ gi industry ปัจจุบันออกงานมาแล้ว มาเรียนต่อป.โท และ งานอดิเรก ดูหนัง ปลูกต้นไม้ อาชีพในฝัน backend developer
</p>

<body></body>

</html>