<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <style>
        #topic {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li a {
            display: block;
            padding: 8px;
            background-color: #dddddd;
        }
        
        .topic-item {
            float: left;
        }
        
        .topic-color:hover {
            background-color: #6692dd9f;
        }
    </style>
</head>

<body>

    <ul id="topic">
        <li class="topic-item">
            <a href="/" class="topic-color">About Me |</a>
        </li>
        <li class="topic-item">
            <a href="/Skill" class="topic-color">Skill | </a>
        </li>
        <li class="topic-item">
            <a href="/ContactMe" class="topic-color">Contact Me |</a>
        </li>
        <li class="topic-item">
            <a href="/Portfolio" class="topic-color">Portfolio |</a>
        </li>
    </ul>
    <div class="input-group">
        <strong>My application </strong>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <table>
        <tr>
            <td>
                <img src="cat.jpeg" width="200px" />
                <td style="width: 200px;">
                    <p1>- product name</p1> <br />
                    <p1>- prize</p1><br />
                    <p1>- description</p1><br />
                </td>
            </td>
            <td>
                <img src="cat.jpeg" width="200px" />
                <td style="width: 200px;">
                    <p1>- product name</p1> <br />
                    <p1>- prize</p1><br />
                    <p1>- description</p1><br />
                </td>
            </td>
        </tr>
        <tr>
            <td>
                <img src="cat.jpeg" width="200px" />
                <td style="width: 200px;">
                    <p1>- product name</p1> <br />
                    <p1>- prize</p1><br />
                    <p1>- description</p1><br />
                </td>
            </td>
            <td>
                <img src="cat.jpeg" width="200px" />
                <td style="width: 200px;">
                    <p1>- product name</p1> <br />
                    <p1>- prize</p1><br />
                    <p1>- description</p1><br />
                </td>
            </td>
        </tr>
    </table>
</body>

</html>